<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<title>kalkulator walut</title>
	</head>
	<body>
		<form action="/" method="post">
			<label for="currency">Wybierz walutę:</label>
			<select name="currency" id="currency">
				<option value="USD">Dolar amerykański</option>
				<option value="AUD">Dolar australijski</option>
				<option value="CAD">Dolar kanadyjski</option>
				<option value="EUR">Euro</option>
				<option value="HUF">Forint węgierski</option>
				<option value="CHF">Frank szwajcarski</option>
				<option value="GBP">Funt szterling</option>
				<option value="JPY">Jen japoński</option>
				<option value="CZK">Korona czeska</option>
				<option value="DKK">Korona duńska</option>
				<option value="NOK">Korona norweska</option>
				<option value="SEK">Korona szwedzka</option>
				<option value="XDR">SDR (MFW)</option>
			</select>
			<br>
			<br>
			<label for="amount">Wpisz kwotę:</label>
			<input type="number" name="amount" step="0.01" min="0">
			<br>
			<br>
			<input type="submit" value="Przelicz">
		</form>
	</body>
</html>